table.tablesorter {
	font-size: 12px;
	background-color: #000000;
	width: 1024px;
}
table.tablesorter th {
	text-align: left;
	padding: 5px;
	background-color: #FFFFFF;
}
table.tablesorter td {
	color: #FFF;
	padding: 5px;
	border-color: #FFFFFF;
	text-align: center;
}

table.tablesorter .header {
	background-image: url(bg.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.tablesorter .headerSortUp {
	background-image: url(asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(desc.png);
	background-repeat: no-repeat;
}
