html {
    background-color: white;
}

#IUT-logo-navbar {
    height: 100%;
}

#map {
    position: absolute;
    width: 100%; 
    height: 100%;
}

#lastDataTable {
    width: 100%;
    text-align: center;
}

#type-tile th {
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}